{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true
      }
    ],
    "@babel/react"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-typescript",
        "@babel/preset-env",
        "@babel/react"
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}
